#content {
  margin: 0 auto;
  max-width: clamp(16rem, 80vw, 32rem);
  width: fit-content;
  white-space: pre-line;
  text-align: left;
}

#content h1 {
  text-align: center;
}

#content a {
  color: var(--lblue);
}
#content a:hover {
  text-decoration: underline;
}

#content code {
  display: inline-block;
  background: var(--dblue);
  padding: 0.5rem;
  padding-left: 0.1rem;
}
